/* main.css */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f2f2f2;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.main-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #8b6d5e;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

.main-bar a {
    text-decoration: none;
    color: #f2f2f2;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.2s;
}

.main-bar a:hover {
    color: #f5deb3;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  
  .create-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
  }

.create-btn {
    background-color: #3c8d9d;
    color: #f2f2f2;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    border-radius: 15px;
  }
  
  .create-btn:hover {
    background-color: #2b6d7e;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5deb3;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

input[type="text"] {
    background-color: #e5ceb3;
    color: #8b6d5e;
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 5px 0;
}

label {
    display: block;
    margin: 5px 0;
}
